@media (min-width: 1000px) {
  :root {
    --bg-colour: #ffe;
    --trim-colour: #1111dd;
    --trim-colour-1: #111199;
    --trim-colour-2: #111177;
  }

  body {
    width: unset;
    background-image: url('../images/CompScreen.jpg');
    background-color: #000;
    background-size: unset;
    background-position: 50% top;
    background-repeat: no-repeat;
    position: relative;
    top: 148px;
    margin: 0 auto;
    width: 950px;
    max-width: 950px;
    height: 700px;
    font-size: unset;
    /* background-color: #ffffee;
    background-image: '';
    border: 50px inset #ffffee;
    border-color: #ffffee #eeeedd #ddddcc #ffffee; */
  }
  
  /*#region Scrollbar*/
  body ::-webkit-scrollbar {
    width: 20px;
  }

  body ::-webkit-scrollbar-track {
    background: var(--trim-colour-2);
  }

  body ::-webkit-scrollbar-thumb {
    background: var(--trim-colour-1);
    border-radius: 8px;
  }

  body ::-webkit-scrollbar-thumb:hover {
    background: var(--trim-colour);
  }
  /*#endregion Scrollbar*/

  #compScreen {
    position: relative;
    background: var(--bg-colour);
    border-color: var(--trim-colour);
    border-width: 10px;
    border-style: solid;
    border-radius: unset;
    height: 100%;
    width: 100%;
    color: var(--trim-colour);
    font-family: 'Courier New', Courier, monospace;
  }

  h1 {
    font-size:36px;
  }

  h2 {
    font-size: 28px;
  }

  nav span {
    display: none;
  }
}