nav ul li:nth-child(3) {
  background-color: #2f2;
}

nav ul li:nth-child(3):hover {
  background-color: #1e1;
}

article {
  display: flex;
  flex-direction: column;  
  margin: 20px;
  border-bottom: 5px solid #2f2;
}

#bookSpecial {
  display: flex;
}

#invertImg {
  background-color: #fff;
  filter: invert();
}

#bookSpecial h2 {
  text-decoration: underline;
}

article #bookText {
  display: flex;
  flex-direction: column;
}

article #bookText ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

article img {
  width: 400px;
  margin-right: 20px;
  width: 50%;
  height: fit-content;
}

/* {
  width: 100%;
  bottom: 0;
  overflow: hidden;
  display: block;
  height: 100%;
}*/